name: Postman API Tests

on:
  push:
    branches: [ main ]
    paths: ["quiz-app/quiz-ui/**"]
  pull_request:
    branches: [ main ]
    paths: ["quiz-app/quiz-ui/**"]

jobs:
  build-docker-ui:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v6
        with:
          context: quiz-app/quiz-ui
          file: quiz-app/quiz-ui/Dockerfile
          push: true
          tags: nassimm/quiz-ui:latest


